.questionsForm {
    // display: flex;
    // justify-content: center;
    .questionContainer {
        width: 40rem;
        background-color: #fff;
        padding: 20px;
        min-height: 30rem;
    }
}